.wrapper-app {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.gameBoard {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.message {
    font-weight: 600;
    margin-top: 15px;
    font-size: 20px;
    color: cadetblue;
}

.circle {
    box-sizing: border-box;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
}

.cross {
    position: relative;
    width: 90px;
    height: 90px;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content: '';
    position: absolute;
    background-color: red;
}

.cross:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}